.game-panel{
    position:relative;
    margin:20px 0 0;
    padding:15px;
    border-radius:5px;
    background:#050505;
    color:#fff;
    overflow:hidden
}
.game-panel.onboarding{
    border-radius:0;
    margin:0 0 15px;
    background:#111
}
.game-panel[compare=on] #game-panel-header #game-panel-compare{
    display:block
}
.game-panel[compare=on] .game-panel-body{
    background:#444
}
.game-panel .game-panel-header{
    position:relative;
    height:50px;
    margin-bottom:20px
}
.game-panel .game-panel-header .game-panel-header-element{
    color:#eee;
    font-size:23px
}
.game-panel .game-panel-header .game-panel-header-element>div{
    font-size:12px;
    color:#ccc
}
.game-panel .game-panel-header .game-panel-lives{
    position:absolute;
    right:0;
    top:4px;
    text-align:right
}
.game-panel .game-panel-header .game-panel-lives i.fa{
    padding:0 2px
}
.game-panel .game-panel-header .game-panel-points{
    position:absolute;
    left:0;
    top:4px;
    text-align:left
}
.game-panel .game-panel-header .stageFeedback{
    position:absolute;
    left:50%;
    top:4px;
    width:140px;
    text-align:center;
    margin-left:-70px
}
.game-panel .game-panel-header .game-panel-compare{
    font-size:16px;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
    z-index:2;
    width:100%;
    height:56px;
    padding:12px;
    background:#050505;
    display:none
}
.game-panel .game-panel-footer{
    position:relative;
    margin-top:15px;
    height:35px
}
.game-panel .game-panel-footer .game-settings-btns{
    position:absolute;
    right:0;
    top:0;
    text-align:left
}
.game-panel .game-panel-footer .game-settings-btns button{
    border:none;
    background:#444;
    color:#999;
    width:35px;
    border-radius:2px;
    line-height:28px;
    font-size:14px!important
}
.game-panel .game-panel-footer .game-settings-btns button:focus{
    outline:none
}
.game-panel .game-panel-footer .game-settings-btns button:hover{
    background:#555
}
.game-panel .game-panel-footer .game-main-btns{
    position:absolute;
    left:50%;
    top:0;
    text-align:center;
    width:330px;
    margin-left:-165px;
    font-size:0
}
.game-panel .game-panel-footer .game-main-btns [bypass]{
    position:relative;
    border:none;
    width:150px;
    line-height:32px;
    margin:0 5px;
    font-size:15px!important;
    background:#444;
    color:#000;
    border-bottom:2px solid #000
}
.game-panel .game-panel-footer .game-main-btns [bypass] [led]{
    position:absolute;
    right:5px;
    top:-5px;
    font-size:10px;
    color:#000
}
.game-panel .game-panel-footer .game-main-btns [bypass][active=yes]{
    color:#eee;
    border-bottom:2px solid #eee
}
.game-panel .game-panel-footer .game-main-btns [bypass][active=yes] [led]{
    color:#77dd94
}
.game-panel .game-panel-footer .game-main-btns [bypass]:focus{
    outline:none
}
.game-panel .game-panel-footer .game-main-btns.game-main-btns-3 button{
    width:84px;
    margin:0 2px;
    font-size:13px!important
}
.game-panel .game-panel-icon{
    position:absolute;
    left:15px;
    bottom:15px;
    z-index:2
}
.game-panel .game-panel-icon img{
    width:36px;
    border-radius:2px
}
.game-panel .game-panel-body{
    position:relative;
    background:#222;
    min-height:200px
}
.game-panel .game-panel-body #stepPoints{
    position:absolute;
    left:20px;
    top:20px;
    z-index:3;
    font-size:15px
}
.game-panel .game-panel-body .game-continue-btns{
    position:absolute;
    left:50%;
    bottom:-46px;
    text-align:center;
    width:280px;
    margin-left:-140px;
    z-index:1
}
.game-panel .game-panel-body .game-continue-btns[show=no]{
    display:none
}
.game-panel .game-panel-body .game-compare-panel{
    position:absolute;
    left:50%;
    bottom:0;
    text-align:center;
    width:280px;
    margin-left:-140px;
    z-index:1;
    background:#050505;
    height:50px;
    border-top-left-radius:30px;
    border-top-right-radius:30px
}
.game-panel .game-panel-body .game-compare-panel[show=no]{
    display:none
}
.game-panel .game-panel-body .game-compare-panel .game-compare-panel-btn{
    position:absolute;
    left:20px;
    top:16px;
    z-index:3
}
.game-panel .game-panel-body .game-compare-panel .game-compare-panel-meter{
    position:absolute;
    right:20px;
    top:7px;
    z-index:3
}
.game-panel .game-panel-body .game-helper-panel,.game-panel .game-panel-body .game-helper-back-panel{
    position:absolute;
    left:50%;
    bottom:0;
    text-align:center;
    width:160px;
    margin-left:-80px;
    z-index:1;
    background:#050505;
    height:50px;
    border-top-left-radius:30px;
    border-top-right-radius:30px
}
.game-panel .game-panel-body .game-helper-panel .helper-label,.game-panel .game-panel-body .game-helper-back-panel .helper-label{
    font-size:13px;
    color:#999;
    position:absolute;
    top:4px;
    text-align:center;
    width:100%
}
.game-panel .game-panel-body .game-helper-panel .game-helper-back-panel-btn,.game-panel .game-panel-body .game-helper-back-panel .game-helper-back-panel-btn{
    border:none;
    background:0 0;
    z-index:3;
    color:#999;
    font-size:22px;
    line-height:30px;
    padding-top:12px;
    outline:none;
    font-size:16px
}
.game-panel .game-panel-body .game-helper-panel .game-helper-panel-btn,.game-panel .game-panel-body .game-helper-back-panel .game-helper-panel-btn{
    border:none;
    background:0 0;
    z-index:3;
    color:#999;
    font-size:22px;
    line-height:30px;
    padding-top:20px;
    outline:none
}
.game-panel .game-panel-body .game-helper-panel .game-helper-panel-btn small,.game-panel .game-panel-body .game-helper-back-panel .game-helper-panel-btn small{
    font-size:13px
}
.game-panel .game-panel-body .game-helper-panel .game-helper-panel-btn:focus,.game-panel .game-panel-body .game-helper-back-panel .game-helper-panel-btn:focus{
    outline:none
}
.game-panel .game-panel-body .game-helper-panel .game-helper-panel-btn:hover,.game-panel .game-panel-body .game-helper-back-panel .game-helper-panel-btn:hover{
    color:#fff
}
.game-panel .game-panel-body .game-helper-panel .game-helper-panel-btn:hover .helper-label,.game-panel .game-panel-body .game-helper-back-panel .game-helper-panel-btn:hover .helper-label{
    color:#999
}
.game-panel .game-panel-body .game-helper-panel[show=no],.game-panel .game-panel-body .game-helper-back-panel[show=no]{
    display:none
}
.game-panel .game-panel-body .game-panel-body-question{
    text-align:center;
    overflow:hidden
}
.game-panel .game-panel-body .game-panel-body-question [show=no]{
    display:none
}
.game-panel .game-panel-body .game-panel-body-question .abcjs-v0,.game-panel .game-panel-body .game-panel-body-question .abcjs-v1{
    fill:#eee
}
.game-panel .game-panel-body .game-panel-body-question .abcjs-triplet{
    stroke:#eee
}
.game-panel .game-panel-body .game-panel-body-question .abcjs-staff-extra{
    fill:#666
}
.game-panel .game-panel-body .game-panel-body-question .abcjs-staff,.game-panel .game-panel-body .game-panel-body-question .abcjs-bar{
    fill:#666
}
.game-panel .game-panel-body .game-panel-body-question .sheet-rhythm .abcjs-staff{
    fill:none
}
.game-panel .game-panel-body .game-panel-body-question .sheet-rhythm .abcjs-staff:nth-child(3){
    fill:#666
}
.game-panel .game-panel-body .game-panel-body-answer{
    margin-top:10px;
    text-align:center;
    background:#555
}
.game-panel .game-panel-feedback .game-cover{
    display:none;
    background:#050505;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:5px;
    z-index:2;
    text-align:center;
    padding:15px
}
.game-panel .game-panel-feedback .game-cover.active{
    display:block
}
.game-panel .game-panel-feedback .game-cover>div{
    padding-top:50px;
    position:relative
}
.game-panel .game-panel-feedback .game-cover .game-panel-title{
    font-size:20px;
    color:#fff
}
.game-panel .game-panel-feedback .game-cover .game-panel-text{
    font-size:16px;
    color:#ccc
}
.game-panel .game-panel-feedback .game-cover .game-panel-small{
    font-size:14px;
    color:#ccc
}
.game-panel .game-panel-feedback .game-cover .game-panel-cover-btn{
    margin:15px 0 5px;
    cursor:pointer
}
.game-panel .game-panel-feedback .game-cleared.game-cover,.game-panel .game-panel-feedback .game-over.game-cover{
    background:rgba(0,0,0,.85)
}
.game-panel .game-panel-inactive{
    display:none;
    background:0 0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3
}
.game-panel .game-panel-inactive.active{
    display:table
}
.life-ring-btn{
    border:none;
    background:#444;
    border-radius:2px;
    padding:0 8px;
    z-index:1;
    color:#999;
    line-height:30px;
    outline:none;
    position:absolute;
    top:92px;
    right:21px
}
.life-ring-btn:hover{
    background:#555
}
#sheetbox path{
    fill:#eee!important
}
#countdown-modal span{
    font-size:60px;
    -webkit-animation:burst 1.5s;
    animation:burst 1.5s
}
#ranger{
    width:100%;
    background:#555;
    height:200px;
    position:relative;
    overflow:hidden;
    cursor:pointer
}
#ranger[color=perfect]{
    background:#69af73
}
#ranger[color=correct]{
    background:#888!important
}
#ranger[color=wrong]{
    background:#d94e49!important
}
#ranger[color=passed]{
    background:#1e726d
}
#ranger[color=spelled]{
    background:#6a5482!important;
    filter:blur(3px)
}
#ranger[color=power]{
    background:#337ab7!important
}
#ranger[state=wait] #handle{
    background:#fff0d9
}
#ranger #midline{
    position:absolute;
    left:50%;
    top:25px;
    width:1px;
    height:300px;
    background:#333;
    height:300px
}
#ranger #grid{
    height:200px
}
#ranger #grid>div{
    display:inline-block;
    height:100%;
    padding-top:15px
}
#ranger #grid>div .gridbox{
    box-shadow:1px 0 0 #aaa;
    height:145px
}
#ranger #grid>div:last-child .gridbox{
    box-shadow:none
}
#ranger #grid>div .min{
    text-align:left;
    font-size:13px;
    color:#ccc;
    text-indent:-15px;
    margin-top:0
}
#ranger #grid>div .middle{
    font-size:11px;
    color:#ddd;
    text-align:center
}
#ranger #handle,#ranger #range,#ranger #value,#ranger #answer,#ranger #rightAnswer,#ranger #handle-mirror,#ranger #range-mirror,#ranger #rightAnswer-mirror,#ranger #answer-mirror{
    height:200px;
    position:absolute;
    top:0;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none
}
#ranger #handle,#ranger #handle-mirror{
    background:#000;
    width:1px;
    transition:background-color 0s ease
}
#ranger #handle{
    left:50%
}
#ranger #handle-mirror{
    right:50%;
    display:none
}
#ranger #answer,#ranger #answer-mirror{
    background:#ffda8c;
    width:1px;
    transition:background-color 0s ease;
    display:none
}
#ranger #answer{
    left:50%
}
#ranger #answer-mirror{
    right:50%
}
#ranger #answer.show,#ranger #answer-mirror.show{
    display:block
}
#ranger #rightAnswer.show,#ranger #rightAnswer-mirror.show{
    display:block
}
#ranger #value,#ranger #rightAnswer,#ranger #rightAnswer-mirror{
    width:200px;
    text-align:center;
    text-shadow:1px 3px 2px rgba(0,0,0,.3);
    font-weight:700
}
#ranger #value,#ranger #rightAnswer{
    margin-left:-100px;
    left:50%
}
#ranger #rightAnswer-mirror{
    margin-right:-100px;
    right:50%
}
#ranger #value{
    font-size:24px;
    line-height:220px;
    color:#fff0d9
}
#ranger #rightAnswer,#ranger #rightAnswer-mirror{
    font-size:18px;
    line-height:130px;
    color:#ffbd2b
}
#ranger #value small,#ranger #rightAnswer small,#ranger #rightAnswer-mirror small{
    padding-left:3px;
    font-size:15px
}
#ranger #range,#ranger #range-mirror{
    background:rgba(0,0,0,.2);
    box-shadow:0 0 1px 0 #000
}
.answer-panel{
    text-align:center;
    width:100%;
    margin:0;
    padding:8px;
    position:relative;
    overflow:hidden
}
.answer-panel .answer-button-div{
    float:left;
    display:table;
    padding:5px;
    height:100%
}
.answer-panel .answer-button-div.answer-button-div-50{
    width:50%
}
.answer-panel .answer-button-div.answer-button-div-33{
    width:33%
}
.answer-panel .answer{
    background:#888;
    border-color:#888;
    color:#777;
    width:100%;
    height:100%
}
.answer-panel .answer[compare=play]{
    box-shadow:0 0 6px 2px #000
}
.answer-panel .answer.answer-no-bg{
    background:0 0;
    border-color:transparent;
    color:transparent
}
.answer-panel .answer[state=play],.answer-panel .answer[state=hover]{
    background:#666;
    border-color:#666;
    color:#fff
}
.answer-panel .answer[state=correct]{
    background:#69af73!important;
    border-color:#fff;
    color:#fff
}
.answer-panel .answer[state=wrong]{
    background:#d94e49!important;
    border-color:#fff;
    color:#fff
}
.answer-panel .answer .play-btn{
    position:relative;
    cursor:pointer;
    font-size:16px;
    height:87px;
    background:rgba(0,0,0,.3)
}
.answer-panel .answer .play-btn i{
    font-size:45px;
    line-height:87px
}
.answer-panel .answer .answer-listen-btn{
    cursor:pointer;
    font-size:16px;
    height:87px;
    line-height:87px;
    background:rgba(0,0,0,.5);
    text-transform:uppercase
}
.answer-panel .answer .answer-listen-btn i{
    line-height:87px;
    font-size:45px;
    color:#fff
}
.answer-panel .answer .answer-detailed-btn{
    position:relative;
    cursor:pointer;
    font-size:16px;
    line-height:20px;
    height:174px;
    background:rgba(0,0,0,.5);
    color:#aaa
}
.answer-panel .answer .answer-detailed-btn .visual{
    height:73px;
    padding-top:25px
}
.answer-panel .answer .answer-detailed-btn .visual img{
    border-radius:3px;
    width:80px
}
.answer-panel .answer .answer-detailed-btn .visual i{
    line-height:40px;
    font-size:40px;
    color:#fff
}
.answer-panel .answer .answer-detailed-btn .title{
    font-size:18px;
    color:#eee;
    line-height:24px;
    text-transform:uppercase
}
.answer-panel .answer .answer-simple-btn{
    height:174px;
    cursor:pointer;
    background:rgba(0,0,0,.5);
    color:#aaa
}
.answer-panel .answer .answer-simple-btn .answer-btn-value{
    padding-top:60px;
    font-weight:700;
    font-size:25px;
    color:#fff;
    line-height:174px
}
.answer-panel .answer .answer-simple-btn .answer-btn-prefix{
    font-size:16px;
    color:#aaa
}
.answer-panel .answer .answer-simple-btn i{
    line-height:174px;
    font-size:40px
}
.answer-panel.answer-panel-lower .answer .play-btn{
    height:60px
}
.answer-panel.answer-panel-lower .answer .play-btn i{
    font-size:35px;
    line-height:60px
}
.answer-panel.answer-panel-lower .answer .play-btn div{
    font-size:16px;
    padding-top:15px
}
.answer-panel.answer-panel-lower .answer .answer-listen-btn{
    height:60px;
    line-height:60px
}
.answer-panel.answer-panel-lower .answer .answer-listen-btn i{
    font-size:20px;
    line-height:60px
}
.eq-graphic{
    text-align:center;
    width:100%;
    padding:20px 5px;
    position:relative;
    overflow:hidden
}
.eq-graphic .band{
    display:inline-block;
    padding:10px 0;
    background:#333;
    color:#555;
    width:30px;
    margin:2px;
    font-size:13px;
    text-align:center
}
.eq-graphic .band sub{
    color:inherit
}
.eq-graphic .band[hint=yes]{
    background:#666;
    color:#ccc;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.7),0 0 0 1px rgba(0,0,0,.7);
    cursor:pointer
}
.eq-graphic .band[hint=yes]:hover{
    background:#999;
    color:#fff
}
.eq-graphic .band[state=correct]{
    background:#69af73!important;
    border-color:#fff;
    color:#fff
}
.eq-graphic .band[state=wrong]{
    background:#d94e49!important;
    border-color:#fff;
    color:#fff
}
#console{
    position:relative;
    text-align:center
}
#mixer{
    height:300px;
    text-align:center;
    position:relative;
    padding:3px
}
#mixer[state=start]{
    background:#333c3f
}
#mixer[state=start] .noUi-handle{
    box-shadow:0 0 0 3px #606a6d,0 0 0 4px #333;
    background:#606a6d
}
#mixer[state=perfect]{
    background:#69af73
}
#mixer[state=perfect] .noUi-handle{
    box-shadow:0 0 0 3px #69af73,0 0 0 4px #333;
    background:#69af73
}
#mixer[state=correct]{
    background:#62747c
}
#mixer[state=correct] .noUi-handle{
    box-shadow:0 0 0 3px #62747c,0 0 0 4px #333;
    background:#62747c
}
#mixer[state=wrong]{
    background:#d94e49
}
#mixer[state=wrong] .noUi-handle{
    box-shadow:0 0 0 3px #d94e49,0 0 0 4px #333;
    background:#d94e49
}
#mixer .btn-mixer{
    border:none;
    border-radius:3px;
    background:0 0;
    color:#ccc;
    font-size:14px;
    padding:5px 10px;
    box-shadow:0 0 0 2px #ccc;
    outline:none;
    font-weight:400
}
#mixer .btn-mixer:hover{
    color:#fff;
    box-shadow:0 0 0 2px #fff
}
#mixer .title-mixer{
    text-shadow:1px 1px 20px #000;
    color:#b9c8cc;
    font-size:16px;
    font-weight:700;
    position:absolute;
    bottom:0;
    margin-bottom:12px;
    text-align:center;
    width:100%
}
#mixer #mixer-channels{
    max-width:440px;
    margin:0 auto
}
#mixer #mixer-channels table{
    width:100%
}
#mixer #mixer-channels table td,#mixer #mixer-channels table th{
    box-shadow:0 0 0 .5px rgba(0,0,0,.5);
    text-align:center;
    vertical-align:middle;
    width:25%
}
#mixer #mixer-channels .channel-name{
    color:#eee;
    line-height:30px;
    background:rgba(0,0,0,.9);
    font-size:13px;
    text-shadow:2px 2px 2px #000;
    border-bottom:1px solid rgba(0,0,0,.4)
}
#mixer #mixer-channels .channel-slider{
    padding:0 5px 30px 30px;
    height:190px
}
#mixer #mixer-channels .channel-slider [slider]{
    height:100%
}
#mixer #mixer-channels .channel-box{
    height:262px;
    background:rgba(0,0,0,.3)
}
#mixer #mixer-channels .channel-box[state=listen]{
    -webkit-filter:blur(4px);
    filter:blur(4px)
}
#mixer #mixer-channels .channel-box[state=listen] .noUi-handle{
    display:none
}
.btn-compressor{
    border:none;
    border-radius:3px;
    background:#0c0f0f;
    color:#ccc;
    font-size:14px;
    padding:5px 10px;
    box-shadow:0 0 0 2px #ccc;
    outline:none;
    font-weight:400
}
.btn-compressor:hover{
    color:#fff;
    box-shadow:0 0 0 2px #fff
}
.compressor-panel{
    text-align:center;
    position:relative;
    padding:5px 0;
    height:260px
}
.compressor-panel .noUi-target{
    background:#050505
}
.compressor-panel[bypass=on]{
    background:#fceb88
}
.compressor-panel[bypass=on] .compressor-device .compressor-cover{
    display:block
}
.compressor-panel[bypass=on] .compressor-slider .noUi-handle{
    box-shadow:0 0 0 3px #fceb88,0 0 0 4px #333;
    background:#fceb88
}
.compressor-panel[bypass=on] .compressor-device .gr .gr-relative .gr-feedback{
    background:#050505
}
.compressor-panel[bypass=on] .compressor-slot .compressor-radio .opt[opt-selected=yes]{
    color:#fceb88
}
.compressor-panel[state=start] .noUi-handle{
    box-shadow:0 0 0 3px #d1e0ff,0 0 0 4px #333;
    background:#d1e0ff
}
.compressor-panel[state=start] .compressor-device[state=compressed] .compressor-slot .compressor-radio .opt[opt-selected=yes]{
    color:rgba(0,0,0,.2)
}
.compressor-panel[state=start] .compressor-device[state=compressed] .noUi-handle{
    box-shadow:none;
    background:0 0
}
.compressor-panel[state=correct]{
    background:#69af73
}
.compressor-panel[state=correct] .compressor-slider .noUi-handle{
    box-shadow:0 0 0 3px #69af73,0 0 0 4px #333;
    background:#69af73
}
.compressor-panel[state=correct] .compressor-device .gr .gr-relative .gr-feedback{
    background:#69af73
}
.compressor-panel[state=correct] .compressor-slot .compressor-radio .opt[opt-selected=yes]{
    color:#69af73
}
.compressor-panel[state=wrong]{
    background:#d94e49
}
.compressor-panel[state=wrong] .compressor-slider .noUi-handle{
    box-shadow:0 0 0 3px #d94e49,0 0 0 4px #333;
    background:#d94e49
}
.compressor-panel[state=wrong] .compressor-device .gr .gr-relative .gr-feedback{
    background:#d94e49
}
.compressor-panel[state=wrong] .compressor-slot .compressor-radio .opt[opt-selected=yes]{
    color:#d94e49
}
.compressor-panel .compare-panel{
    position:absolute;
    left:50%;
    top:0;
    text-align:center;
    width:220px;
    z-index:1;
    background:#050505;
    height:45px;
    padding-top:5px;
    margin-left:-110px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px
}
.compressor-panel .compare-panel .compare-btn{
    position:absolute;
    top:0;
    left:15px;
    outline:none;
    border:none;
    background:#333;
    border-radius:13px;
    font-size:12px
}
.compressor-panel .compare-panel .bypass-btn{
    position:absolute;
    top:1px;
    right:8px;
    outline:none;
    border:none;
    width:24px;
    height:24px;
    border-radius:50%;
    background:#252525;
    margin-right:6px
}
.compressor-panel .compare-panel .bypass-btn[bypass=on]{
    background:#fceb88
}
.compressor-panel .compressor-device .compressor-cover{
    display:none;
    background:rgba(0,0,0,.2);
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:1
}
.compressor-panel .compressor-device[state=compressed]{
    -webkit-filter:blur(4px);
    filter:blur(4px)
}
.compressor-panel .compressor-device[state=compressed] .compressor-cover{
    display:block
}
.compressor-panel .compressor-device[state=compressed] .gr .gr-relative .gr-feedback{
    background:#050505
}
.compressor-panel .compressor-device .gr{
    position:absolute;
    top:50px;
    left:11px;
    width:4px;
    height:150px;
    background:#050505;
    border-radius:2px
}
.compressor-panel .compressor-device .gr .gr-relative{
    position:relative;
    width:100%;
    height:100%
}
.compressor-panel .compressor-device .gr .gr-relative .gr-feedback{
    position:absolute;
    width:100%;
    top:0;
    height:0;
    background:#d1e0ff;
    border-radius:2px
}
.compressor-panel .compressor-slot{
    height:250px;
    display:inline-block;
    background:rgba(60,60,60,.4);
    position:relative;
    vertical-align:top
}
.compressor-panel .compressor-slot .compressor-slot-label{
    color:#999;
    font-size:13px;
    display:block;
    line-height:25px;
    background:rgba(0,0,0,.5);
    text-shadow:1px 1px #000;
    position:absolute;
    width:100%;
    bottom:0
}
.compressor-panel .compressor-slot .compressor-radio{
    margin-top:50px
}
.compressor-panel .compressor-slot .compressor-radio .opt{
    padding-left:10px;
    color:rgba(0,0,0,.2);
    line-height:22px;
    font-size:22px;
    text-align:left
}
.compressor-panel .compressor-slot .compressor-radio .opt.opt-4{
    line-height:36px
}
.compressor-panel .compressor-slot .compressor-radio .opt[opt-active=yes]{
    color:#050505;
    cursor:pointer
}
.compressor-panel .compressor-slot .compressor-radio .opt[opt-selected=yes]{
    color:#d1e0ff;
    text-shadow:1px 1px #000
}
.compressor-panel .compressor-slot .compressor-radio .opt .opt-label{
    font-size:15px
}
.compressor-panel .compressor-slot .compressor-radio .opt .opt-label small{
    color:inherit;
    font-size:11px
}
.compressor-panel .compressor-slider{
    height:150px;
    margin:50px 20px 10px
}
.compressor-panel .compressor-slider .noUi-handle{
    width:10px;
    height:16px;
    left:4px;
    top:-8px;
    box-shadow:0 0 0 3px #d1e0ff,0 0 0 4px #333;
    border-radius:1px;
    background:#d1e0ff;
    cursor:pointer
}
.compressor-panel .compressor-slider .noUi-handle:before,.compressor-panel .compressor-slider .noUi-handle:after{
    display:none
}
.yk-switch-circle{
    position:relative;
    height:150px;
    width:150px
}
.yk-switch-circle .yk-switch-circle{
    position:absolute;
    bottom:0;
    left:0;
    width:100px;
    height:100px;
    margin:25px;
    border-radius:50%;
    background:rgba(0,0,0,.2);
    box-shadow:0 0 1px 1px #000
}
.yk-switch-circle .yk-switch-values .opt{
    position:absolute;
    width:25px;
    height:25px;
    border-radius:50%;
    cursor:pointer
}
.yk-switch-circle .yk-switch-values .opt[opt-active=no]{
    background:#353535
}
.yk-switch-circle .yk-switch-values .opt[opt-active=yes]{
    background:#000
}
.yk-switch-circle .yk-switch-values .opt[opt-selected=yes]{
    background:#bfd4ff
}
.yk-switch-circle .yk-switch-values .opt .value-label{
    font-size:11px;
    color:#999;
    width:30px;
    height:12px;
    display:inline-block;
    text-align:center;
    vertical-align:top
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(1){
    top:56px;
    left:27px
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(1) .value-label{
    margin-top:10px;
    margin-left:-51px
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(2){
    top:31px;
    left:47px
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(2) .value-label{
    margin-top:-10px;
    margin-left:-51px
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(3){
    top:31px;
    right:47px
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(3) .value-label{
    margin-top:-10px;
    margin-left:26px
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(4){
    top:56px;
    right:27px
}
.yk-switch-circle.yk-switch-4 .yk-switch-values .opt:nth-child(4) .value-label{
    margin-top:10px;
    margin-left:26px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(1){
    top:85px;
    left:35px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(1) .value-label{
    margin-top:24px;
    margin-left:-51px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(2){
    top:56px;
    left:27px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(2) .value-label{
    margin-top:10px;
    margin-left:-51px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(3){
    top:31px;
    left:47px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(3) .value-label{
    margin-top:-10px;
    margin-left:-51px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(4){
    top:31px;
    right:47px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(4) .value-label{
    margin-top:-10px;
    margin-left:26px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(5){
    top:56px;
    right:27px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(5) .value-label{
    margin-top:10px;
    margin-left:26px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(6){
    top:85px;
    right:35px
}
.yk-switch-circle.yk-switch-6 .yk-switch-values .opt:nth-child(6) .value-label{
    margin-top:24px;
    margin-left:26px
}
body{
    background:#eee;
    padding-top:0!important
}
.bg-practice{
    background:#333
}
.bg-contest{
    background:#111
}
.bg-db{
    background:#439cba
}
.bg-501,.bg-502,.bg-503{
    background:#000
}
.bg-101{
    background:#fcca83
}
.bg-102{
    background:#ed7867
}
.bg-103{
    background:#9bd0ca
}
.bg-104{
    background:#a3c19b
}
.bg-105{
    background:#69af73
}
.bg-106{
    background:#439cba
}
.bg-107{
    background:#ffb48a
}
.bg-108{
    background:#d9504a
}
.bg-109{
    background:#999
}
.bg-110{
    background:#eee
}
.bg-111{
    background:#47b4af
}
.bg-112{
    background:#8a839e
}
.bg-113{
    background:#41525a
}
.bg-114{
    background:#775d3d
}
.bg-115{
    background:#5b709d
}
.compare-btn{
    border:none;
    background:#333;
    border-radius:13px;
    font-size:12px
}
.compare-btn:focus{
    outline:none
}
.compare-btn span{
    display:inline-block;
    line-height:24px;
    height:24px;
    color:#999;
    padding:0 10px
}
.compare-btn[side=left] span[left]{
    color:#fff;
    text-shadow:2px 2px 2px #000
}
.compare-btn[side=right] span[right]{
    color:#fff;
    text-shadow:2px 2px 2px #000
}
.yk-meter .meter-value{
    color:#ccc;
    font-size:12px;
    line-height:22px;
    text-align:center
}
.yk-meter .meter-clock{
    position:relative;
    margin:auto;
    width:60px
}
.yk-meter .meter-clock .needle{
    position:absolute;
    width:30px;
    height:4px;
    border-radius:3px;
    background:#fff;
    box-shadow:0 0 3px 1px rgba(0,0,0,.4);
    top:27px;
    left:30px;
    transition:all 2s;
    transition-timing-function:ease;
    transform:rotate(180deg);
    transform-origin:left
}
.yk-meter .meter-clock .needle:before{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    background:#fff;
    box-shadow:0 0 3px 1px rgba(0,0,0,.2);
    top:-3px;
    left:-3px
}
.yk-meter .meter-clock .meter-wrapper{
    width:60px;
    height:30px;
    position:relative;
    overflow:hidden;
    border-bottom:1px solid #444
}
.yk-meter .meter-clock .meter-wrapper .meter-box{
    position:absolute;
    top:0;
    left:0;
    width:60px;
    height:30px;
    overflow:hidden
}
.yk-meter .meter-clock .meter-wrapper .meter-box .pie{
    position:absolute;
    left:0;
    top:0;
    width:60px;
    height:60px;
    border-radius:100%;
    border:1px solid #444
}
.yk-meter .meter-clock .meter-wrapper .meter-box.meter-wrong .pie{
    background:#c62f29
}
.yk-meter .meter-clock .meter-wrapper .meter-box.meter-correct{
    transform:rotate(0deg);
    transform-origin:bottom
}
.yk-meter .meter-clock .meter-wrapper .meter-box.meter-correct .pie{
    background:#4b5960
}
.yk-meter .meter-clock .meter-wrapper .meter-box.meter-perfect{
    transform:rotate(0deg);
    transform-origin:bottom
}
.yk-meter .meter-clock .meter-wrapper .meter-box.meter-perfect .pie{
    background:#50955a
}
#slider{
    padding:0 50px;
    height:200px;
    background:#555
}
#slider .noUi-target{
    background:0 0
}
#slider .noUi-horizontal{
    height:180px
}
#slider .noUi-horizontal .noUi-handle{
    height:200px;
    top:0;
    width:80px;
    right:-40px;
    background:rgba(0,0,0,.4);
    box-shadow:-2px 0 0 0 #111,2px 0 0 0 #111
}
#slider .noUi-horizontal .noUi-handle.noUi-active{
    box-shadow:-2px 0 0 0 #eee,2px 0 0 0 #eee
}
#slider .noUi-horizontal .noUi-handle:before{
    left:39px;
    top:0;
    background:#111;
    height:200px
}
#slider .noUi-horizontal .noUi-handle:after{
    display:none
}
#slider .noUi-horizontal .noUi-tooltip{
    font-size:24px;
    font-weight:700;
    bottom:auto;
    top:80px;
    text-shadow:1px 3px 2px rgba(0,0,0,.3)
}
#slider .noUi-horizontal .noUi-pips-horizontal{
    top:0;
    height:150px
}
#slider .noUi-horizontal .noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker{
    width:1px
}
#slider .noUi-horizontal .noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker-large{
    height:150px
}
#slider .noUi-horizontal .noUi-pips-horizontal .noUi-marker-normal{
    height:130px;
    background:#999
}
#slider .noUi-horizontal .noUi-pips-horizontal .noUi-marker-large{
    background:#ddd
}
#slider .noUi-horizontal .noUi-value{
    top:160px;
    color:#ddd;
    font-size:13px
}
#slider[state=perfect]{
    background:#69af73
}
#slider[state=correct]{
    background:#62747c
}
#slider[state=wrong]{
    background:#d94e49
}
#lives{
    font-size:20px
}
#lives i{
    min-width:22px
}
.btn-border{
    border:none;
    border-radius:3px;
    background:0 0;
    color:#ccc;
    font-size:14px;
    padding:5px 10px;
    box-shadow:0 0 0 2px #ccc;
    outline:none;
    font-weight:400
}
.btn-border:hover{
    color:#fff;
    box-shadow:0 0 0 2px #fff
}
.btn-confirm{
    border:none;
    border-radius:3px;
    background:#333;
    color:#ccc;
    font-size:14px;
    padding:5px 10px;
    outline:none;
    font-weight:400;
    transition:all .2s ease
}
.btn-confirm:hover{
    color:#fff;
    background:#222
}
.btn-confirm[active=no]{
    cursor:default;
    opacity:.15
}
.btn-confirm[active=no]:hover{
    color:#ccc;
    background:#333
}
.btn-submit{
    border:none;
    background:#000;
    border-radius:3px;
    font-size:14px;
    line-height:18px;
    padding:10px 15px;
    text-shadow:1px 1px 1px #000;
    color:#eee
}
.btn-submit:focus{
    outline:none
}
.btn-submit[state=wrong]{
    background:#d68a20
}
@media(max-width:768px){
    #game-panel #game-panel-header .game-panel-header-element{
        color:#eee;
        font-size:18px
    }
    #game-panel #game-panel-header .game-panel-header-element>div{
        font-size:12px
    }
    #game-panel-icon{
        display:none
    }
    .answer-panel .answer{
        font-size:15px;
        line-height:22px
    }
    .answer-panel .answer .small{
        font-size:14px;
        line-height:18px;
        color:#222
    }
    #grid>div .min{
        font-size:11px;
        text-indent:-5px
    }
}
.unselectable{
    -moz-user-select:-moz-none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.compare-keys{
    padding:8px 0 5px;
    text-align:center
}
.compare-keys [key]{
    box-shadow:0 0 1px #000;
    position:relative;
    min-width:50px;
    padding:0 10px;
    height:40px;
    line-height:40px;
    background:#555;
    color:#ccc;
    text-align:center;
    cursor:pointer;
    font-size:36px;
    float:left;
    width:33%
}
.compare-keys [key][playing=on]{
    color:#fff;
    text-shadow:0 0 2px #095450,0 0 6px #fff,0 0 14px #fff
}
.radio-keys{
    display:inline-block;
    padding:8px 0 5px;
    text-align:center
}
.radio-keys [key]{
    box-shadow:0 0 1px #000;
    position:relative;
    min-width:50px;
    padding:0 10px;
    margin:0 2px;
    height:40px;
    line-height:40px;
    background:#222;
    color:#ccc;
    text-align:center;
    cursor:pointer;
    display:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.radio-keys [key] card{
    color:#999
}
.radio-keys [key] card[question]{
    font-size:120%;
    color:#adfffd
}
.radio-keys [key] s{
    color:#666;
    margin:0 4px
}
.radio-keys [key]:hover{
    background:#333;
    color:#fff
}
.radio-keys [key][show=yes]{
    display:inline-block
}
.radio-keys [key][pressed=yes]{
    background:#fff;
    color:#000;
    text-shadow:0 0 4px #ccc;
    cursor:default
}
.radio-keys [key][hovered=yes]{
    background:#48607c;
    color:#99a4b2
}
.radio-keys [key][feedback=correct]{
    background:#69af73;
    color:#bbeac1
}
.radio-keys [key][feedback=correct] card{
    color:#bbeac1
}
.radio-keys [key][feedback=wrong]{
    background:#d94e49;
    color:#f29693
}
.radio-keys [key][feedback=wrong] card{
    color:#f29693
}
.radio-keys [key][feedback=reveal]{
    animation:blink-correct-btn 1s
}
.game-listen-btn{
    user-select:none;
    outline:none;
    height:60px;
    width:120px;
    font-size:40px;
    text-align:center;
    border:none;
    transition:all .2s ease;
    background:#000;
    color:#666;
    padding:0 15px;
    cursor:pointer;
    display:inline-block;
    margin:30px 0 0;
    border-radius:4px
}
.game-listen-btn i{
    width:40px;
    text-align:left
}
.game-listen-btn:hover{
    color:#999
}
.game-listen-btn[state=playing]{
    color:#fff;
    text-shadow:0 0 2px #095450,0 0 6px #fff,0 0 14px #fff
}
.progression-btn{
    user-select:none;
    outline:none;
    text-align:center;
    border:none;
    transition:all .2s ease;
    background:#000;
    color:#666;
    cursor:pointer;
    display:inline-block;
    margin:30px auto 0;
    padding:0 10px;
    border-radius:4px;
    font-size:30px;
    line-height:60px
}
.progression-btn:hover i.fa{
    color:#aaa
}
.progression-btn i.fa{
    display:inline-block;
    font-size:26px;
    width:50px;
    vertical-align:middle
}
.progression-btn card,.progression-btn s{
    vertical-align:middle;
    display:inline-block;
    font-weight:700
}
.progression-btn card{
    width:40px
}
.progression-btn card[playing=yes]{
    color:#fff;
    text-shadow:0 0 2px #095450,0 0 6px #fff,0 0 14px #fff
}
.progression-btn card[question]{
    font-size:120%;
    color:#adfffd
}
.tap-button{
    box-shadow:0 0 5px #111;
    outline:none;
    border:none;
    border-radius:50%;
    height:66px;
    width:66px;
    cursor:pointer
}
.tap-button[state=results]{
    background:#555
}
.tap-button[state=counting]{
    background:#555
}
.tap-button[state=onyourmarks]{
    background:#dc504a
}
.tap-button[state=getready]{
    background:#edc482
}
.tap-button[state=go]{
    background:#69af73
}
.tap-button[pressed=yes][active=yes]{
    background:#c1f2c8;
    box-shadow:0 0 2px #111
}
.metronome{
    width:80px;
    height:80px;
    display:inline-block;
    position:relative;
    z-index:1
}
.metronome .img-back{
    position:absolute;
    top:0;
    left:0;
    z-index:5
}
.metronome .img-front{
    position:absolute;
    top:0;
    left:0;
    z-index:7
}
.metronome #stick{
    width:2px;
    height:65px;
    background:#999;
    position:absolute;
    bottom:8px;
    left:calc(50% - 1px);
    transform-origin:50% 100%;
    z-index:6
}
.metronome #stick:after{
    content:"";
    display:block;
    width:10px;
    height:10px;
    background:silver;
    position:absolute;
    left:-4px;
    top:10px;
    -webkit-clip-path:polygon(0% 0%,100% 0%,85% 100%,15% 100%)
}
.metronome #stick[state=running]{
    animation:metronome 5s ease-in-out infinite;
    animation-play-state:running
}
.metronome #stick[state=paused]{
    animation-play-state:paused
}
.metronome #stick[state=stop]{
    animation:stop-metronome 2s ease-in-out
}
.vocalist{
    text-align:center;
    width:300px;
    height:80px;
    position:relative;
    margin:0 auto
}
.vocalist[show-feedback=yes] canvas,.vocalist[show-feedback=yes] .name,.vocalist[show-feedback=yes] .info{
    display:block
}
.vocalist canvas{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    display:none
}
.vocalist .mic-feedback{
    text-align:center;
    box-shadow:0 0 5px #111;
    outline:none;
    display:none;
    border:none;
    border-radius:50%;
    height:66px;
    width:66px;
    z-index:1;
    position:absolute;
    left:50%;
    margin-left:-33px
}
.vocalist .mic-feedback[show=yes]{
    display:inline-block
}
.vocalist .mic-feedback[state=results]{
    background:#555
}
.vocalist .mic-feedback[state=counting]{
    background:#555
}
.vocalist .mic-feedback[state=onyourmarks]{
    background:#dc504a
}
.vocalist .mic-feedback[state=getready]{
    background:#edc482
}
.vocalist .mic-feedback[state=go]{
    background:#69af73
}
.vocalist .mic-feedback[pressed=yes][active=yes]{
    background:#c1f2c8;
    box-shadow:0 0 2px #111
}
.vocalist .name{
    display:none;
    z-index:2;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-33px;
    width:66px;
    text-align:center;
    font-size:22px;
    line-height:66px;
    color:#caf7d0;
    text-shadow:0 0 5px rgba(0,0,0,.5)
}
.vocalist .info{
    display:none;
    z-index:2;
    position:absolute;
    top:36px;
    right:60px;
    font-size:15px;
    color:#999
}
.duel-progress-bar{
    position:absolute;
    width:100%;
    bottom:-8px
}
.duel-progress-bar .duel-progress-bg{
    width:100%;
    height:8px;
    background:#d94e49;
    position:relative;
    bottom:0
}
.duel-progress-bar .duel-progress-bg .duel-progress-internal{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:50%;
    background:#69af73;
    transition:all .2s ease;
    -webkit-transition:all .2s ease
}
.duel-balance-bar{
    text-align:center;
    width:100%;
    height:50px;
    border-radius:4px;
    position:absolute;
    top:0;
    padding:0 50px
}
.duel-balance-bar .duel-balance-bar-points{
    position:relative;
    width:100%;
    height:100%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point{
    position:absolute;
    margin-top:12px;
    width:26px;
    height:26px;
    margin-left:-13px;
    border-radius:50%;
    opacity:.3;
    transition:all .2s ease;
    -webkit-transition:all .2s ease
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="1"]{
    background:#d94e49;
    left:10%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="2"]{
    background:#d94e49;
    left:20%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="3"]{
    background:#d94e49;
    left:30%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="4"]{
    background:#d94e49;
    left:40%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="5"]{
    background:#fceb88;
    left:50%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="6"]{
    background:#69af73;
    left:60%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="7"]{
    background:#69af73;
    left:70%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="8"]{
    background:#69af73;
    left:80%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[point="9"]{
    background:#69af73;
    left:90%
}
.duel-balance-bar .duel-balance-bar-points .duel-balance-bar-point[state=on]{
    opacity:1
}
.duel-users{
    position:absolute;
    top:0;
    width:100%;
    height:60px
}
.duel-users .duel-users-details{
    position:relative;
    width:100%;
    height:100%
}
.duel-users .duel-user-photo{
    position:absolute;
    top:0
}
.duel-users .duel-user-photo[who=me]{
    left:0
}
.duel-users .duel-user-photo[who=opponent]{
    right:0
}
.duel-users .duel-user-points{
    position:absolute;
    top:12px;
    font-size:20px;
    font-weight:700
}
.duel-users .duel-user-points[who=me]{
    left:72px
}
.duel-users .duel-user-points[who=opponent]{
    right:72px
}
.duel-users .duel-user-update{
    position:absolute;
    top:20px;
    font-size:14px;
    color:#ccc;
    font-weight:700
}
.duel-users .duel-user-update[who=me]{
    left:50%;
    margin-left:-50px
}
.duel-users .duel-user-update[who=opponent]{
    right:50%;
    right:-50px
}
.duel-balance{
    position:absolute;
    top:16px;
    left:50%;
    width:60px;
    margin-left:-30px;
    text-align:center;
    font-size:20px;
    font-weight:700
}
.duel-gameplay{
    position:relative
}
.duel-gameplay img{
    display:block;
    max-width:100%;
    height:auto;
    position:absolute;
    left:0;
    top:0
}
.duel-gameplay img[show=no]{
    display:none
}
[duel-feedback]{
    display:none
}
[duel-feedback][show=yes]{
    display:block
}
.duel-winner{
    margin-bottom:15px
}
.duel-winner .winner-title{
    font-size:16px;
    color:#fff;
    opacity:0;
    width:100%;
    margin:15px 0
}
.duel-winner .winner-elements{
    opacity:0
}
.duel-winner .winner-element{
    display:none;
    text-align:center
}
.duel-winner .winner-element[state=on]{
    display:inline-block;
    animation:fadeIn 1.5s
}
.duel-winner .winner-element small{
    color:#999
}
.duel-winner[is-winner=yes] .winner-title{
    opacity:1
}
.duel-winner[is-winner=yes] .winner-elements{
    opacity:1
}
.duel-winner[is-winner=yes] .avatar{
    box-shadow:0 0 0 1px #fff,0 0 10px 0 #fff,0 0 20px 0 #fff
}
.duels-game-btn{
    position:relative;
    cursor:pointer;
    border:none;
    background:#444;
    color:#999;
    width:60px;
    height:35px;
    border-radius:2px;
    line-height:28px;
    font-size:14px;
    outline:none;
    margin-right:6px
}
.duels-game-btn .duels-game-btn-value{
    position:absolute;
    top:8px;
    left:34px;
    font-size:15px
}
.duels-game-btn small{
    margin-right:2px
}
.duels-game-btn img{
    position:absolute;
    top:0;
    left:5px;
    height:32px;
    transition:all .2s ease;
    -webkit-transition:all .2s ease
}
.duels-game-btn[state=on]:hover{
    background:#555
}
.duels-game-btn[state=off] img{
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
    filter:gray
}
.duel-gameplay img[animate=yes]{
    animation:img-blink .5s;
    animation-iteration-count:16
}
@keyframes blink-user-correct{
    0%{
        box-shadow:0 0 1px 1px #151515,0 0 0 4px #69af73
    }
    100%{
        box-shadow:0 0 1px 1px #151515,0 0 0 4px #555
    }
}
@keyframes blink-user-wrong{
    0%{
        box-shadow:0 0 1px 1px #151515,0 0 0 4px #d94e49
    }
    100%{
        box-shadow:0 0 1px 1px #151515,0 0 0 4px #555
    }
}
@keyframes blink-correct-btn{
    0%{
        background:#69af73
    }
    25%{
        background:#222
    }
    50%{
        background:#69af73
    }
    100%{
        background:#222
    }
}
@keyframes metronome{
    0%,100%{
        transform:rotate(35deg)
    }
    50%{
        transform:rotate(-35deg)
    }
}
@keyframes stop-metronome{
    100%{
        transform:rotate(0deg)
    }
}
@keyframes img-blink{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes bounceIn{
    0%{
        opacity:0;
        transform:scale(.3)
    }
    50%{
        opacity:1;
        transform:scale(1.05)
    }
    70%{
        transform:scale(.9)
    }
    100%{
        transform:scale(1)
    }
}
@media(max-width:768px){
    #ranger #grid>div .middle,#ranger #grid>div .min{
        color:transparent
    }
}

.bandsContainer {
    display: flex;
    justify-content: center;
}

.bandLeftTab {
    margin-left: auto;
    background: #ddd;
}

.bandRightTab {
    margin-left: auto;
    visibility: hidden;
}

.selected {
    border: 1px solid yellow;
    border-radius: 4px;
}

.bandButton {

}
