.game-panel{
    position:relative;
    margin:20px 0 0;
    padding:15px;
    border-radius:5px;
    background:#050505;
    color:#fff;
    overflow:hidden
}

.game-panel .game-panel-body{
    position:relative;
    background:#222;
    min-height:200px
}

.game-panel .game-cover{
    display:none;
    background:#050505;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:5px;
    z-index:2;
    text-align:center;
    padding:15px
}
.game-panel .game-cover.active{
    display:block
}
.game-panel .game-cover>div{
    padding-top:50px;
    position:relative
}
/* here end */
.game-panel .game-panel-inactive{
    display:none;
    background:0 0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3
}
.game-panel .game-panel-inactive.active{
    display:table
}

#console{
    position:relative;
    text-align:center
}

body{
    background:#eee;
    padding-top:0!important
}
.bg-practice{
    background:#333
}
.bg-contest{
    background:#111
}
.bg-db{
    background:#439cba
}
.bg-501,.bg-502,.bg-503{
    background:#000
}
.bg-101{
    background:#fcca83
}
.bg-102{
    background:#ed7867
}
.bg-103{
    background:#9bd0ca
}
.bg-104{
    background:#a3c19b
}
.bg-105{
    background:#69af73
}
.bg-106{
    background:#439cba
}
.bg-107{
    background:#ffb48a
}
.bg-108{
    background:#d9504a
}
.bg-109{
    background:#999
}
.bg-110{
    background:#eee
}
.bg-111{
    background:#47b4af
}
.bg-112{
    background:#8a839e
}
.bg-113{
    background:#41525a
}
.bg-114{
    background:#775d3d
}
.bg-115{
    background:#5b709d
}

.bandsContainer {
    display: flex;
    justify-content: center;
}

.bandLeftTab {
    margin-left: auto;
    background: #ddd;
}

.bandRightTab {
    margin-left: auto;
    visibility: hidden;
}

.selected {
    border: 1px solid yellow;
    border-radius: 4px;
}

.bandButton {

}
